$mainColor: rgb(0 0 0);
$doubleColor: rgba(0, 0, 0, 0.25);
$mainBg: #fff;
$mainFont: montserrat, arial, sans-serif;
// $bg-gradient: linear-gradient(
//   90deg,
//   rgb(203 215 81 / 100%) 0%,
//   rgb(235 105 105 / 100%) 47%,
//   rgb(129 132 187 / 100%) 100%
// );
$bg-gradient: linear-gradient(
  90deg,
  rgb(0, 217, 255) 0%,
  rgb(186, 186, 186) 100%
);
