@import "./base";
@import "./fonts";
@import "./reset";

html {
  color: $mainColor;
  font-size: 14px;
  font-family: $mainFont;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  background: $bg-gradient;
}

.main {
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  min-width: 320px;
  min-height: 100px;
  padding: 15px 35px;
  background-color: #e3c80a85;
  border: 2px solid #d7c68969;
  border-radius: 12px;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.answer {
  display: flex;
  flex-direction: column;
  gap: 5px 0;

  &__item {
    list-style-type: none;
  }
}

.button {
  width: 160px;
  height: 30px;
  color: lightgrey;
  font-family: $mainFont;
  background-color: #33337a;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: #4e4e96;
  }
}
